
html { font-size: 14px; }

.jumbotron {
	background-image: url("../images/table-tennis.jpg");
	color: white;
}

.modal-header { background-image: url("../images/table-tennis-alt2.jpg"); }


.modal-footer { background-image: url("../images/table-tennis.jpg"); }

.screen_area {

	padding: 5px;
	margin-bottom: 10px;
}

.screen-section { background-color: #333; }

/*.page_header {
	padding: 20px;
	display: flex;
    justify-content: space-between;
	background-color: darkgreen;
	border-bottom: 10px solid #c0dfe4;
}*/

/*.header_image {
	float:left;
}*/

/*#header_block {
	width: 450px;
	border: 1px solid black;
}*/

#reset_button { float: right; }



/*#player_input__area {

	width: 400px;
	padding: 5px;
	background-color: #c0dfe4;
	border: 1px solid black;
}
*/
.round_container {
	background-color: #31708f;
}


/**/
.fixture_list_area {
	display: flex;
	align-items: flex-start;
	justify-content:center;
	background-color: steelblue;
	border: 1px solid black;
	border-radius: 10px;
}

/*.generate_fixture_list {

	float: right;
}*/

/*.generate_next_round { float: right; }*/

.round_container {

	width: 300px;
	padding: 5px;
	border: 1px solid black;
}

.player, .old_player {
	padding: 5px;
	display: flex;
    justify-content: space-between;
	border: 0.5px solid black;
	border-radius: 5px;
}

.player:hover { background-color: lightgreen; }

.player_pairing {
	padding: 5px;
	background-color: white;
	border: 0.5px solid darkblue;
	border-radius: 5px;
}

.won_txt { color: white; }

.winner { background-color: lightgreen; }

.old_winner { background-color: lightgrey; }


.champion {
	width: 200px;
	font-size: 16px;
	text-align: center;
	background-color: lightgreen;
	color: black;
}
