
html { font-size: 14px; }

.jumbotron {
	background-image: url("../images/table-tennis.jpg");
	color: white;
}

.modal-header { background-image: url("../images/table-tennis-alt2.jpg"); }


.modal-footer { background-image: url("../images/table-tennis.jpg"); }

.screen_area {

	padding: 5px;
	margin-bottom: 10px;
}

.screen-section { background-color: #333; }


#reset_button { float: right; }


.round_container {
	width: 250px;
	background-color: #31708f;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.generate_next_round { float: right; }



/**/
.fixture_list_area {

	display: flex;
	align-items: center; 
	justify-content: center;
	overflow-x: scroll;
	background-color: steelblue;
	border: 1px solid black;
	border-radius: 10px;
}


.player, .old_player {
	padding: 5px;
	display: flex;
    justify-content: space-between;
    text-align: center;
	border: 0.5px solid black;
	border-radius: 5px;
}

.player:hover { background-color: green; }

.player_pairing {
	padding: 5px;
	background-color: white;
	border: 0.5px solid darkblue;
	border-radius: 5px;
}

.won_txt { color: white; }

.winner { background-color: lightgreen; }

.old_winner { 
	background-color: lightgrey; 
	font-size: 10px;
}

#champ-modal .modal-body {

	background-color: lightgreen;
}


.champion {
	width: 200px;
	font-size: 16px;
	text-align: center;
	background-color: lightgreen;
	color: black;
	border: 0.5px solid black;

}




